{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de"> 

<head lang="de">
<title>Obere Navigation</title>
  <link rel="stylesheet" media="all" type="text/css"
         href="{{ site.url }}/dms_media/skin_style/{{site.skin_style}}/css_{{ site.skin_style }}.css">
</head>

<body>

<div style="margin-top:1em; margin-left:10px;" class="head1">
<b>Bildungsserver Hessen</b><br />
</div>
<p align="right">
{% trans "Scorm-Player" %} 0.01 / 14.03.2008 &nbsp;
</p>

<noframes>
  <p>Dieses Projekt verwendet aus technischen Gründen Frames.</p>
</noframes>

</body>
</html>

