#frame-top         { position: absolute; top: 0px; left: 0; right: 0px; height:160px; }
#frame-left        { position: absolute; top: 146px; left: 0; width: 208px; bottom: 0; }
#frame-main        { position: absolute; top: 150px; left: 210px; right: 192px; }
#frame-main-manage { position: absolute; top: 150px; left: 30px; right: 192px; }
#frame-right       { position: absolute; top: 146px; right: 0; width: 190px; }

body {
  background:{{rgbBodyBg}}; 
  color:{{rgbBody}}; 
  margin-left:0; margin-right:0;
  padding:0;
  {{cBaseFont}};
  font-size:{{arrSize_02}};
  text-decoration: none;
}

.invisible { visibility: hidden; }

pre, tt, code   { 
  font-family:'Courier New', monospace; 
  font-size:{{arrSize}};
}

h1,h2,h3,h4,h5,h6 {
  margin-left:0;
  color:{{rgbHead}};
  font-weight:bold;
}
h1 { font-size:{{arrSize_4}}; }
h2 { font-size:{{arrSize_3}}; }
h3 { font-size:{{arrSize_2}}; }
h4 { font-size:{{arrSize_1}}; }
h5 { font-size:{{arrSize}}; }
h6 { font-size:{{arrSize}}; font-weight:normal; }
.head1,.head2,.head3,.head4,.head5,.head6 {
  color:{{rgbHead2}};
  padding-top:0;
  padding-bottom:0;
}
.head1 { font-size:{{arrSize_4}}; }
.head2 { font-size:{{arrSize_3}}; }
.head3 { font-size:{{arrSize_2}}; }
.head4 { font-size:{{arrSize_1}}; }
.head5 { font-size:{{arrSize}}; }
.head6 { font-size:{{arrSize}}; font-weight:normal; }

.darkerHeaderBg  { background:{{rgbDarkerHeaderBg}}; }
.indexTabBg      { background:{{rgbIndexTab}}; }
.infoblock       { background:{{rgbInfoBlock}}; }
.startblock      { background:{{rgbStartBlock}}; }
.select          { background:{{rgbSelect}}; }
.white           { background:{{rgbWhite}}; }
.black           { background:{{rgbBlack}}; }
.red             { color:{{rgbRed}}; }
.grey            { color:{{rgbGrey}}; }
.blue            { color:{{rgbBlue}}; }
.navTop          { color:{{rgbANavTopLink}}; font-weight:bold; }

.indexHeaderBg   { background:{{rgbIndexHeaderBg}}; }
.indexHeaderText { margin-left:0; color:{{rgbIndexHeaderText}}; font-weight:bold; }
.portalHeaderBg  { background:{{rgbPortalHeaderBg}}; }
.portalHeaderText{ margin-left:0; color:{{rgbPortalHeaderText}}; font-weight:bold; }
.topsiteText { font-size:{{arrSize_01}}; }
.commandBg { 
  padding-top:0.05em;
  padding-bottom:0.05em;
}
.commandHeaderBg  {
  padding:0.05em;
  border-bottom-width:1px;
  border-bottom-color:{{rgbCommandHeaderText}};
  border-bottom-style:solid;
}
.commandHeaderText { 
  margin-left:0; 
  color:{{rgbCommandHeaderText}}; 
  font-weight:bold; 
}

.look            { font-weight:bold; color:{{rgbLook}}; }
.important       { font-weight:bold; background:{{rgbImportant}}; }
.big             { margin-left:0; color:{{rgbBig}}; font-size:120%; font-weight:bold; }
.headerSym       { color:{{rgbHeaderSym}}; font-weight:bold;}
.headerSymBg     { background:{{rgbHeaderSymBg}}; font-size:8px;}
.commandSymBg    { background:{{rgbCommandSymBg}}; font-size:8px;}
.extlink         { color:{{rgbExtLink}}; font-weight:bold;}
.captionbg   { background:{{rgbCaptionBg}}; }
.captiontext { color:{{rgbCaptionText}}; font-weight:bold; }

ul { list-style-type:square;}

a { color:{{rgbA}}; font-weight:bold; text-decoration:{{cTextDecoration}}; }
a:active { color:{{rgbAActive}}; background:{{rgbAActiveBg}}; }
a:hover { color:{{rgbAHover}}; background:{{rgbAHoverBg}}; }

a.normal { color:{{rgbANormal}}; font-weight:normal; }
a.extented { color:{{rgbAextended}}; font-weight:bold; }
a.portalLink { color:{{rgbAPortalLink}}; font-weight:normal; }
a.portalLink:hover { color:{{rgbAHover}}; background:{{rgbAHoverBg}}; }
a.eventNav { color:{{rgbANav}}; font-weight:normal; font-size:{{arrSize_01}};}
a.eventNav:hover { color:{{rgbAHover}}; background:{{rgbAHoverBg}}; }
a.nav { color:{{rgbANav}}; font-weight:normal;}
a.nav:hover { color:{{rgbAHover}}; background:{{rgbAHoverBg}}; }
a.command_nav { color:{{rgbANav}}; font-weight:normal; }
a.command_nav:hover { color:{{rgbACommandHover}}; background:{{rgbACommandHoverBg}}; }
a.navLink { color:{{rgbANavLink}}; font-weight:normal; }
a.navHeadLink { color:{{rgbANavHeadLink}}; font-weight:normal; }
a.navLink:hover { color:{{rgbAHover}}; background:{{rgbAHoverBg}}; }
a.navTopLink { color:{{rgbANavTopLink}}; font-weight:bold; }
a.navTopLink:hover { color:{{rgbBlack}}; background:{{rgbAHoverTopBg}}; }
a.headinfo { color:{{rgbAHeadInfo}}; font-weight:normal; }
a.overlay { color:{{rgbAOverlay}}; font-weight:bold; }
a.overlay:hover { color:{{rgbAHover}}; background:{{rgbAHoverBg}}; }
a.mainLink { color:{{rgbAMainLink}}; font-weight:bold; text-decoration:{{cTextDecoration}}; }
a.mainLink:hover { color:{{rgbAHover}}; background:{{rgbAHoverBg}}; }
a.subLink { color:{{rgbASubLink}}; font-weight:bold; text-decoration:{{cTextDecoration}}; }
a.subLink:hover { color:{{rgbAHover}}; background:{{rgbAHoverBg}}; }
a.frameLink { 
  color:{{rgbAFrameLink}}; 
  font-weight:normal; 
  font-size:{{arrSize_04}};
}
a.frameLink:hover { 
  color:{{rgbAHover}}; 
  background:{{rgbAHoverBg}}; 
  font-weight:normal; 
}
a.no_highlight { text-decoration:{{cTextDecoration}}; }
a.no_hightlight:hover {color:{{rgbWhite}}; background:{{rgbBodyBg}}; }
a.meta { color:{{rgbHead2}}; font-weight:normal; }
a img {  border:none;  color:white; }
a.frameLink { font-size:{{arrSize_01}}; }
a.frameLink:hover { font-size:{{arrSize_01}}; }

form { font-size:{{arrSize}}; }
.form-no-margin  {
  padding:0px;
  margin-top:0px;
  margin-bottom:0px;
}
option { background-color:{{rgbOptionBg}}; }
textarea { border: 1px solid {{rgbTextareaBorder}}; }
input { border: 1px solid {{rgbInput}}; }
input[type='checkbox'] { border: 1px solid {{rgbInputCheckboxBg}}; }
input[type='submit'] {
  border-width:1px; border-color:{{rgbInputSubmitBorder}}; 
  background-color:{{rgbInputSubmitBg}}; color:{{rgbInputSubmitColor}}; 
  font-weight:bold; 
  cursor:pointer; 
}

div             { margin-left:0; }
div.prev-next-links {}
div.portal-table{ margin-right:0; }
div.info-table  {
  z-index:100;
  margin-left:{{nMarginLeft}}px; margin-right:{{nMarginRight}}px;
  margin-top:{{nFooterTop}}px; padding-top:{{nFooterTop_2}}px;
  margin-bottom:{{nFooterTop}}px; padding-bottom:{{nFooterTop_2}}px;
  padding-left:2px; padding-right:2px;
  border-top-width:{{nFooterWidth}}px;
  border-top-color:{{rgbFooterColor}};
  border-top-style:{{cFooterStyle}};
  border-bottom-width:{{nFooterWidth}}px;
  border-bottom-color:{{rgbFooterColor}};
  border-bottom-style:{{cFooterStyle}};
}
div.tabs {
    /* Navigational Plone Tabs(tm) .. */
    background: transparent;
    border-collapse: collapse;
    border-bottom-color: {{rgbBlack}};
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 0.5em 0em 0em 1em;
    white-space: nowrap;
}
div.tabs .plain_text {
    background: {{rgbWhite}};
    border-color: {{rgbBlack}};
    border-width: 1px;
    border-style: solid solid none solid;
    color:{{rgbBlack}};
    font-weight:normal;
    height: 1.2em;
    margin-right: 0.5em;
    padding: 0em 2em;
}
div.tabs a {
    background: {{rgbIndexHeaderBg}};
    border-color: {{rgbBlack}};
    border-width: 1px;
    border-style: solid solid none solid;
    color:{{rgbA}};
    font-weight:bold;
    height: 1.2em;
    margin-right: 0.5em;
    padding: 0em 1em;

}
div.tabs a.selected {
    border-color: {{rgbBlack}};
    border-bottom-color: {{rgbDarkerHeaderBg}};
    color:{{rgbAHover}};
    background:{{rgbAHoverBg}};
}
div.tabs a:hover {
    border-color: {{rgbBlack}};
    border-bottom-color: {{rgbDarkerHeaderBg}};
    color:{{rgbAHover}};
    background:{{rgbAHoverBg}};
}
div.right_logo {
  z-index:9999;
  position:absolute;
  right:{{nWidth_05}}px;
  width:{{nWidth_10}}px;
  text-align:center;
}
div.marginale {
  z-index:9999;
  position:absolute;
  right:{{nWidth_05}}px;
  width:{{nWidth_10}}px;
}
div.left-marginale {
  z-index:9999;
  position:absolute;
  right:{{nWidth_05}}px;
  width:{{nWidth_10}}px;
}
div.right-marginale { 
  z-index:1; 
  position:absolute; 
  right:{{nWidth_05}}px; 
  width:{{nWidth_10}}px;
}

.form-table {
  width:100%;
  padding:1px;
  background:{{rgbBodyBg}};
  border-collapse:collapse;
  border-width:{{nLInfoBorderWidth}}px;
  border-color:{{rgbBorderTopLeft}};
  border-style:solid;
  border-right-width:{{nRInfoBorderWidth}}px;
  border-right-color:{{rgbBorderBottomRight}};
  border-right-style:solid;
  border-bottom-width:{{nRInfoBorderWidth}}px;
  border-bottom-color:{{rgbBorderBottomRight}};
  border-bottom-style:solid;
  border-left-width:{{nLInfoBorderWidth}}px;
  border-left-color:{{rgbBorderTopLeft}};
  border-left-style:solid;
}
.info-border {
  background:{{rgbBodyBg}};
  border-collapse:collapse;
  border-top-width:{{nLInfoBorderWidth}}px;
  border-top-color:{{rgbBorderTopLeft}};
  border-top-style:solid;
  border-right-width:{{nRInfoBorderWidth}}px;
  border-right-color:{{rgbBorderBottomRight}};
  border-right-style:solid;
  border-bottom-width:{{nRInfoBorderWidth}}px;
  border-bottom-color:{{rgbBorderBottomRight}};
  border-bottom-style:solid;
  border-left-width:{{nLInfoBorderWidth}}px;
  border-left-color:{{rgbBorderTopLeft}};
  border-left-style:solid;
}

.frame-border {
  padding:0px;
  background:{{rgbBorderBg}};
  border-collapse:collapse;  
  border-width:1px;
  border-color:{{rgbBreadcumbBg}};
  border-style:solid;
}
.frame-border-header {
  background:{{rgbIndexHeaderBg}};
  padding:0.05em;
  border-top-width:{{nLFrameBorderWidth}}px;
  border-top-color:{{rgbSearchBg}};
  border-top-style:solid;
  border-bottom-width:{{nLFrameBorderWidth}}px;
  border-bottom-color:{{rgbSearchBg}};
  border-bottom-style:solid;
}
.info-frame {
  padding-left:10px;
  background:{{rgbBorderBg}};
}
.info-frame-header {
  padding:2px;
  border-bottom-width:{{nRFrameBorderWidth}}px;
  border-bottom-color:{{rgbBorderBottomRight}};
  border-bottom-style:solid;
}
.infoblock-outer {
  border-left-style:solid;
  border-left-color:{{rgbHeaderSymBg}};
  border-left-width:3px;
}
.infoblock-inner {
  background:{{rgbStartBlock}};
  margin-left:6px; 
  padding:3px;
}

.header-outer {
  border-left-style:dotted;
  border-left-color:{{rgbHead}};
  border-left-width:3px;
}
.edu-base-outer {
  border-left-style:double;
  border-left-color:{{rgbHead2}};
  border-left-width:3px;
}
.bottom-border-ex-filled {
  background:{{rgbNavigationBg}};
  padding:2px;
  border-bottom-width:{{nRFrameBorderWidth}}px;
  border-bottom-color:{{rgbBorderBottomRight}};
  border-bottom-style:solid;
}
.top-bottom-border {
  border-top-width:{{nLFrameBorderWidth}}px;
  border-top-color:{{rgbBorderTopLeft}};
  border-top-style:solid;
  border-bottom-width:{{nRFrameBorderWidth}}px;
  border-bottom-color:{{rgbBorderBottomRight}};
  border-bottom-style:solid;
}
.top-bottom-border-ex {
  padding:2px;
  border-bottom-width:{{nRFrameBorderWidth}}px;
  border-bottom-color:{{rgbBorderBottomRight}};
  border-bottom-style:solid;
}
.top-border {
  border-top-width:{{nLFrameBorderWidth}}px;
  border-top-color:{{rgbBorderTopLeft}};
  border-top-style:solid;
}
.bottom-border-ex {
  padding:2px;
  border-bottom-width:{{nRFrameBorderWidth}}px;
  border-bottom-color:{{rgbBorderBottomRight}};
  border-bottom-style:solid;
}
.bottom-border-light_ex {
  padding:2px;
  border-bottom-width:{{nLFrameBorderWidth}}px;
  border-bottom-color:{{rgbIndexHeaderBg}};
  border-bottom-style:solid;
}
.visualBoxBg {
  position:absolute;
  width:20em;
  padding:2px;
  border-width:1px;
  border-color:{{rgbBorderTopLeft}};
  border-style:solid;
  text-align:center;
}

#layer-float{ float:right; }
#layer_top_left_logo{
  position:absolute; 
  left:30px; top:5px;
  height:{{nTopMain}}px;
  z-index:0;
}
#layer_site_title {
  position:absolute; 
  left:210px; top:1.5em; 
  z-index:10;
}
#layer_top_impress{
  position:absolute; 
  left:0px; top:0px; width:100%; height:1.5em; 
  z-index:3;
  text-align:right;
  }
#layer_top_image {
  position:absolute; 
  top:6px; right:200px;
  z-index:2;
}
#layer_top_search{
  position:absolute; 
  left:0px; top:{{nTopMain_026}}px; right:1.2em;
  height:1.5em; 
  z-index:3;
  text-align:right;
  }
#layer_top_breadcumb{
  position:absolute; 
  left:{{nWidthExt}}px; top:{{nTopMain_28}}px; 
  height:1.5em;
  z-index:20;
  padding-bottom:0px;
}
#layer_menu_image {
  position:absolute; 
  left:0px; top:0px;
  z-index:2;
}
#layer_menu_links_main{
  position:absolute; 
  left:30px; top:0px; width:174px; bottom:0px; z-index:10;
  background:{{rgbBreadcumbBg}};
  padding:2px;
}
#layer_menu_links{
  position:absolute; 
  left:30px; top:30px; width:174px; z-index:11;
  background:{{rgbNavigationBg}};
  padding:2px;
}
#layer_top_main_navigation{
  position:absolute; 
  left:0px; top:{{nTopMain}}px; width:100%;
  z-index:20;
  padding-top:0.2em;
  padding-bottom:0.2em;
  background:{{rgbSearchBg}};
}
#layer_info_text{
  position:absolute; 
  right:{{nWidth}}px; 
  left:{{nWidthExt}}px; top:{{nTopMain_36}}px;  
  padding-right:1em;
  z-index: 15;
}
#layer_lecture_text{
  position:absolute; 
  right:{{nWidth}}px; 
  left:{{nWidthExt_2}}px; top:{{nTopMain_42}}px;  
  padding-right:1em;
  z-index: 5;
}
.layer_lecture_font{ font-size:medium;}


/* Bereich nur fr dem Drucker */
div.page-footer-print {
  visibility: hidden; 
}

@media print
{
  #layer_info_text{
    position:relative; 
    left:0px; top:0px; right:0px;
    margin-left:0px; margin-right:0px;
  }
  #layer_lecture_text{
    position:relative; 
    left:0px; top:0px; right:0px;
    margin-left:0px; margin-right:0px;
  }
  .layer_lecture_font{ font-size:medium; }
  div.prev-next-links,
  div.page-header,
  div.page-footer,
  div.right-screen,
  div.left-marginale,
  div.right-marginale
  {
    visibility: hidden;
  }
  div.page-footer-print
  {
    visibility: visible;
    z-index:999;  position:relative;
    padding-top:3px; 
    text-align:left; 
    font-size:x-small;
  }
  a { text-decoration: underline; }
  div.print-only { visibility: visible; }
  div.info-table  {
    border-top-style:none;
    border-bottom-style:none;
  }
}