{% extends "app/base_section.html" %}
{% load i18n %}

{% autoescape off %}
{% block infos %}
<div style="margin-left:0%;">
<ul>
{% for link in links %}
<li style="margin-top:1em;">
{% if link.extern %}
  {{ link.extern_icon }}<a href="{{ link.url }}" target="{{ link.extern }}"
     title="{% trans "Wird in einem eigenen Fenster geöffnet ..." %}">
     {{ link.title }}</a>
{% else %}
  <a href="{{ link.url }}">{{ link.title }}</a>
{% endif %}
{{ link.folder_icon }}
{{ link.size }}
<div style="margin-left:0%;">
  {{ link.text }}
</div>
</li>
{% endfor %}
</ul>
</div>
{% endblock %}
{% endautoescape %}
