{% extends "app/exercisefolder/mauswiesel/base.html" %}
{% load i18n %}

{% block content %}

        <tr>
          <td width="11" align="right" valign="top" bgcolor="#dbdbdb"><img src="{{ base_site_url }}/dms_media/image/exercisefolder/mauswiesel/left.jpg" alt="" width="11" height="26" /></td>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="160" valign="top"><img src="{{ base_site_url }}/dms_media/image/exercisefolder/mauswiesel/wissen_01.jpg" alt="wissen-button" name="wissen" width="160" height="324" id="Image1" onclick="MM_goToURL('parent','./wissen/');return document.MM_returnValue" onmouseover="MM_swapImage('Image1','','{{ base_site_url }}/dms_media/image/exercisefolder/mauswiesel/wissen_02.jpg',1)" onmouseout="MM_swapImgRestore()" /></td>
              <td width="160" valign="top"><img src="{{ base_site_url }}/dms_media/image/exercisefolder/mauswiesel/mathematik_01.jpg" alt="mathematik" name="mathematik" width="160" height="324" id="mathematik" onclick="MM_goToURL('parent','./mathematik/');return document.MM_returnValue" onmouseover="MM_swapImage('mathematik','','{{ base_site_url }}/dms_media/image/exercisefolder/mauswiesel/mathematik_02.jpg',1)" onmouseout="MM_swapImgRestore()" /></td>
              <td width="160" valign="top"><img src="{{ base_site_url }}/dms_media/image/exercisefolder/mauswiesel/deutsch_01.jpg" alt="deutsch" name="deutsch" width="160" height="324" id="deutsch" onclick="MM_goToURL('parent','./deutsch/');return document.MM_returnValue" onmouseover="MM_swapImage('deutsch','','{{ base_site_url }}/dms_media/image/exercisefolder/mauswiesel/deutsch_02.jpg',1)" onmouseout="MM_swapImgRestore()" /></td>
              <td width="160" valign="top"><img src="{{ base_site_url }}/dms_media/image/exercisefolder/mauswiesel/englisch_01.jpg" alt="englisch" name="englisch" width="160" height="324" id="englisch" onclick="MM_goToURL('parent','./englisch/');return document.MM_returnValue" onmouseover="MM_swapImage('englisch','','{{ base_site_url }}/dms_media/image/exercisefolder/mauswiesel/englisch_02.jpg',1)" onmouseout="MM_swapImgRestore()" /></td>
              <td width="160" valign="top"><img src="{{ base_site_url }}/dms_media/image/exercisefolder/mauswiesel/kunst-musik_01.jpg" alt="kunst-musik" name="kunst" width="160" height="324" id="kunst" onclick="MM_goToURL('parent','./kunst/');return document.MM_returnValue" onmouseover="MM_swapImage('kunst','','{{ base_site_url }}/dms_media/image/exercisefolder/mauswiesel/kunst-musik_02.jpg',1)" onmouseout="MM_swapImgRestore()" /></td>
              <td width="160" valign="top"><img src="{{ base_site_url }}/dms_media/image/exercisefolder/mauswiesel/logik-spiel_01.jpg" alt="logik-spiel" name="logik" width="160" height="324" id="logik" onclick="MM_goToURL('parent','./logik/');return document.MM_returnValue" onmouseover="MM_swapImage('logik','','{{ base_site_url }}/dms_media/image/exercisefolder/mauswiesel/logik-spiel_02.jpg',1)" onmouseout="MM_swapImgRestore()" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table></td>
          <td width="11" align="left" valign="top" bgcolor="#dbdbdb"><img src="{{ base_site_url }}/dms_media/image/exercisefolder/mauswiesel/right.jpg" alt="" width="11" height="26" /></td>
        </tr>
{% endblock %}
