{% load i18n %}

{% autoescape off %}
<div class="top-bottom-border-ex"">
  <div style="margin-bottom:0.6em;">
  <a name="anker_{{ name|safe }}"></a>
  <p class="headlineBg">
  {% if image_url %}
    {% if image_url_url %}
      <a href="{{ image_url_url }}"{% if image_extern %} target="_extern"{% endif %}><img 
        src="{{ image_url }}" alt="{% trans "Schmuckbild" %}"
        class="image-float-right" /></a>
    {% else %}
      <img src="{{ image_url }}" alt="{% trans "Schmuckbild" %}"
        class="image-float-right" />
    {% endif %}
  {% endif %}
  <a class="headerLink" href="{{ name }}">
  {{ title|safe }}
  </a>
  {% if comments %}
    / {% trans "Kommentar(e):" %} {{ comments|safe }}
  {% endif %}
  </p>
  </div>

  <div style="margin-left:0%">
    {% if sub_title %}
      <p><b>{{ sub_title|safe }}</b></p>
    {% endif %}
    {{ text|safe }}
    <p align="right">
      {% if more_infos %}
        {{ more_infos|safe }},
      {% endif %}
      {% if email %}
        <a href="mailto:{{ email }}" class="navLink">{{ user_name|safe }}</a>,
      {% else %}
        {{ user_name|safe }},
      {% endif %}
      {{ last_modified|safe }},
      <a href="{{ name|safe }}" class="navLink">{% trans "mehr" %}&nbsp;...</a>
      <!-- <br clear="all"> -->
    </p>
  </div>
</div>
{% endautoescape %}
