{% extends "base.html" %}
{% load i18n %}

{% block html_head_ext %}
{% if is_sortable_table %}
<link rel="stylesheet" type="text/css" 
      href="{{ base_site_url }}/dms_media/javascript/yui/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" 
      href="{{ base_site_url }}/dms_media/javascript/yui/build/datatable/assets/skins/sam/datatable.css" />
<script type="text/javascript" 
      src="{{ base_site_url }}/dms_media/javascript/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" 
      src="{{ base_site_url }}/dms_media/javascript/yui/build/element/element-beta.js"></script>
<script type="text/javascript" 
      src="{{ base_site_url }}/dms_media/javascript/yui/build/datasource/datasource-beta.js"></script>
<script type="text/javascript" 
      src="{{ base_site_url }}/dms_media/javascript/yui/build/datatable/datatable-beta.js"></script>
<style>
.yui-content { background-color: #f4f4f4 !important; }
</style>
{% endif %}
{% endblock %}

{% autoescape off %}
{% block title %}
{{ title }}
{% if comments %}
<span class="grey" title="{% trans "Beitrag/Beiträge kommentierbar" %}">&there4;</span>
{% endif %}
{% endblock %}
{% block sub_title %}{{ sub_title }} {% endblock %}

{% block content %} {{ content }} {% endblock %}
{% endautoescape %}
