{% extends "app/base_section.html" %}
{% load i18n %}

{% autoescape off %}
{% block infos %}

<div style="margin-left: 10%;">
<p>
{% blocktrans %}
Falls Ihre Organisation noch nicht erfasst wurde, müssen Sie die Daten der
Organisation im anschließend erscheinenden Formular eintragen.
{% endblocktrans %}
</p>

<table class="info-border" border="1" cellspacing="1" cellpadding="3" style="width:100%;">
<form method="post" action="?inst_town">
<tr>
  <td class="introblock" width="30%"><label for="id_town"><b>{% trans "Ort" %}</b></label></td>
  <td>
    <input name="town" value="" maxlength="60" type="text" id="id_town" size="30" />
  </td>
  <td>
    <input name="submit" type="submit" value="{% trans "Suchen ..." %}" />
  </td>
</tr>
</form>

<form method="post" action="?inst_name">
<tr>
  <td class="introblock" width="30%"><label for="id_name"><b>{% trans "Einrichtung" %}</b></label></td>
  <td>
    <input name="name" value="" maxlength="60" type="text" id="id_name" size="30" />
  </td>
  <td>
    <input name="submit" type="submit" value="{% trans "Suchen ..." %}" />
  </td>
</tr>
</form>

</table>
<br />
</div>
{% endblock %}
{% endautoescape %}
