{% load i18n %}

{% if veranst_status %}
<p>
<br />
<b>{% trans "Status" %}: {{ veranst_status }}</b>
</p>
{% endif %}

<h4>{% trans "Beschreibung/Inhalt" %}</h4>

<p>
{{ beschreibung }}
</p>

<table class="form-table" style="width:100%;">
  <tr class="bottom-border-ex">
    <td class="introblock" width="20%"><b>Fächer/Berufsfelder</b></td>
    <td width="80%">{{ faecher }}</td>
  </tr>
  <tr class="bottom-border-ex">
    <td class="introblock" width="20%"><b>Zeitraum</b></td>
    <td width="80%">
      {{ zeitraum }}
      {% if anmeldung %}
      <br />
      <b>{% trans "Anmeldeschluss:" %}</b> {{ anmeldung }}
      {% endif %}
    </td>
  </tr>
  <tr class="bottom-border-ex">
    <td class="introblock" width="20%"><b>Leistungspunkte</b></td>
    <td width="80%">{{ veranst_punkte }}</td>
  </tr>
  <tr class="bottom-border-ex">
    <td class="introblock" width="20%"><b>Kosten</b></td>
    <td width="80%">{{ veranst_kosten }}€</td>
  </tr>
  <tr class="bottom-border-ex">
    <td class="introblock" width="20%"><b>Zielgruppen</b></td>
    <td width="80%">{{ zielgruppen }}</td>
  </tr>
  <tr class="bottom-border-ex">
    <td class="introblock" width="20%"><b>Schularten</b></td>
    <td width="80%">{{ schularten }}</td>
  </tr>
  <tr class="bottom-border-ex">
    <td class="introblock" width="20%"><b>Ort</b></td>
    <td width="80%">{{ veranst_ort }}</td>
  </tr>
  <tr class="bottom-border-ex">
    <td class="introblock" width="20%"><b>Veranstaltungsart</b></td>
    <td width="80%">{{ veranst_v_art }}</td>
  </tr>
  <tr class="bottom-border-ex">
    <td class="introblock" width="20%"><b>Veranstaltungsnummer</b></td>
    <td width="80%">{{ veranst_intern_id }} (IQ: {{ veranst_iq_id }})</td>
  </tr>
</table>

<h4>{% trans "Zusätzliche Hinweise" %}</h4>

{% if veranst_feste_teilnehmer %}
<p>
{{ veranst_feste_teilnehmer }}
</p>
{% endif %}

{% if veranst_hinweise %}
<p>
{{ veranst_hinweise }}
</p>
{% endif %}

{% if veranst_zusatz %}
<p>
{{ veranst_zusatz }}
</p>
{% endif %}

{% if veranst_leitung %}
<p>
{% trans "Leitung:" %} {{ veranst_leitung }};
{% trans "Dozenten:" %} {{ veranst_dozenten }}
</p>
{% endif %}

{% if veranst_url %}
<p>
<a href="{{ veranst_url }}" target="_extern">{{ veranst_url_text }}</a>
</p>
{% endif %}

<h4>{% trans "Anbieter" %}</h4>

<p>
{% if anbieter_url %}
<a href="{{ anbieter_url }}" target="_extern">{{ anbieter_name }}</a><br />
{% else %}
{{ anbieter_name }}<br />
{% endif %}
{% if anbieter_person %}{{ anbieter_person }}<br />{% endif %}
{{ anbieter_strasse }}<br />
{{ anbieter_plz }} {{ anbieter_ort }}<br />
{% if anbieter_telefon %}Telefon: {{ anbieter_telefon }}<br />{% endif %}
{% if anbieter_fax %}Fax: {{ anbieter_fax }}<br />{% endif %}
{% if anbieter_email %}E-Mail: <a href="mailto:{{ anbieter_email }}">{{ anbieter_email }}</a><br />{% endif %}
</p>