{% extends "app/base_edit.html" %}
{% load i18n %}

{% autoescape off %}
{% block frame_left %}{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block sub_title %}

{% if sub_title %}
{{ sub_title }}{% if my_name %} <i>[{{ my_name }}]</i>{% endif %}
{% endif %}
{% endblock %}

{% block content %}

{% if text_intro %}
{{ text_intro }}
{% endif %}

<form method="post"
      name  ="form_input"
      action="{{ next }}">
{{ content }}

<p align="right" style="margin-top:0.5em;">
<input name="path" type="hidden" value="{{ path }}" />
<input name="submit" type="submit" value="{{ submit }} ..." />
</p>
</form>

{% if results %}
  <h4>{% trans "Suchergebnisse (sortiert nach" %} <i>{{ sort_by }})</i></h4>

  <ul>
  {% for result in results %}
    <li>{{ result }}</li>
  {% endfor %}
  </ul>

{{ show_prev }} {{ show_middle }} {{ show_next }} (n={{ count }})

<p align="right">
powered by <span class="red"><b>&raquo;</b></span>
<a href="http://www.xapian.org/" target="_extern">Xapian</a>
</p>
{% endif %}

<script>
 var editTab = new YAHOO.widget.TabView('editForm');
</script>
{% endblock %}
{% endautoescape %}
